// Specific CSS for your home-page
// body {
//   }
body {
    background-image: url("https://static01.nyt.com/images/2016/11/02/dining/02fake2/02fake2-articleLarge.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 600px;
    background-size: 100%;
    text-align: center;
    color: white;
}
